<h1>Show</h1>
<h2><%= @restaurants.name %></h2>
<p><%= @restaurants.address %></p>
<p><%= @restaurants.phone_number %></p>
<p><%= @restaurants.category %></p>
<%= link_to "Back to all restaurants", restaurants_path %>
<%= link_to "Create new one", new_restaurant_path %>
